.TodoItem {
  background-image: linear-gradient(
    45deg,
    #fc787c90 0%,
    #fcb6a280 99%,
    #fcb6a280 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #ff535990;
}

.TodoItem .FormGroup .FormControlLabel .Checkbox {
  margin: 20px 10px 20px 30px;
}

.TodoItem .Button {
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 20%;
  border: none;
  cursor: pointer;
}

.job--finished {
  opacity: 0.5;
}

.TodoItem .Button:hover {
  background-color: #ffffff80;
}

.TodoItem .FormGroup .Job--completed {
  text-decoration: line-through;
  color: grey;
}

.TodoItem .FormGroup {
  width: 85%;
}

.TodoItem .FormGroup .FormControlLabel .Checkbox--active {
  color: green;
}

::-webkit-scrollbar {
  display: none;
}
