.CreateTodoButton {
  margin: auto;
  position: sticky;
  text-align: center;
  position: sticky;
  bottom: 15px;
  border-radius: 50%;
  transition: all 0.4s ease;
  max-width: 43px;
}

.CreateTodoButton button {
  border-radius: 50%;
  border: none;
  font-size: 30px;
  padding: 5px 12.5px;
  cursor: pointer;
}

.CreateTodoButton:hover {
  transform: rotate(45deg);
  transition: all 0.4s ease;
}
