.TodoSearch {
  margin: auto;
  display: block;
  height: 20px;
  padding: 10px 0 10px 20px;
  line-height: 1.5;
  font-size: 20px;
  border: none;
  outline: 2px solid #fc9f94;
  border-radius: 6px;
  width: 90%;
}
